html{
    height: 100%;
}

body{
    background-image: url("images/zebra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
/*
    background: linear-gradient(#00ccff, #b3f0ff);
    box-shadow: 2px 5px 2px black;
*/    
}

h1{
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

h2{
    color: rgb(0,204,255);
    text-shadow: 1px 1px 3px darkblue;
}

.borderImg{
    border: 10px dashed purple;
}

/*
** Working with decendents
*/

ul li {
    color: white;
    font-size: 20px;
}

/*
** Working with child selectors
** Any ul that has a child that is a li
** that is only 1 level deep inherits ** the style rules
*/

ul > li {
    color:yellow;
}